<div class="container">
  <div class="container-body">
    <h2>
      <a href="/posts" style="text-decoration: underline;">Latest Posts</a>
    </h2>
    {{ $posts := where .Site.RegularPages "Section" "posts" | first 5 }}
    {{ if $posts }}
      <ul style="padding-left: 1em; list-style: none; margin: 0; padding: 0;">
        {{ range $posts }}
          <li style="margin-bottom: 8px;">
            <a href="{{ .RelPermalink }}" style="text-decoration: underline"><strong>{{ .Title }}</strong></a><br>
            <small>{{ .Date.Format "Jan 2, 2006" }}</small>
            <p style="margin: 0.2em 0 0; font-size: 0.9em;">
              {{ with .Params.summary }}
                {{ . }}
              {{ else }}
                {{ .Summary | plainify | truncate 128 }}
              {{ end }}
            </p>
          </li>
        {{ end }}
      </ul>
    {{ else }}
      <p>No posts yet!</p>
    {{ end }}
  </div>
</div>
